.nav{
    background-color: black;
    height: 50px;
    width: 100%;
    position:fixed;
    top:0;
    display: flex;
    align-items: center;

    
    
    }
.navleft{
    flex: 5;
    width: 100px;

    

    }

.centernav{
        flex:6;
        display: none;
        
    }
.navright{
    flex:5;
    width: 100px;
    margin-top: 10px;
    

    
}


.navimg{
    width: 50px;
    height: 30px;
    margin: 10px 10px 10px 10px;
    }

.navheading{
    color: aliceblue;
}

.navul{
list-style: none;
}

@media (max-width:768px){
    .nav{
        height: 70px;
        width: 100%;
        align-items: center;
        justify-content: center;

    }

    .navright{
        display: none;
    }

    .navleft{
        display: none;
    }

    .centernav{
        font-size: 25px;
        margin-right: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}